@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#f01313;
    --secondary-color:#1e1e1e;
    --light-color:#fff;
    --dark-color:#000;

   
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Knewave', sans-serif;
}

a{
    text-decoration: none;
}

.flex{
display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}

.wrapper{
width: 100vw;
height: 100vh;
}

.home{
    background-image: url(/noel_web/img/navidad/118074.jpeg);
    background-size: cover;
}
.navbar{
    justify-content: space-between;
    padding: 2em;
}

.navbar__brand{
    color: var(--dark-color);
    background-image: url(/noel_web/img/navidad/fondo-texto.jpeg);
    background-size: cover;
    padding: 10px 3em;
    border-radius: 20px;

}

.navbar__brand--span{
    color: var(--dark-color);
}

.menu__link{
    list-style: none;
    margin-right: 2em;
}
.menu__item{
    color: var(--primary-color);
    background-color: var(--light-color);
    font-size: 1.2em;
    border-radius: 20px;
    padding: 10px 3em;
    border: none;
    border-radius: 50px;
    
}

.menu__item:hover{
background-color: var(--primary-color);
color: var(--light-color);

}
.navbar .fa-solid{
    color: var(--light-color);
    font-size: 2em;
    display: none;
}



.content-info{
    width: 100vw;
    height: 60vh;
    align-items: center;
    flex-direction: column;
}

.content-info__subtitle{
    font-size: clamp(1em,5vw,1.2em);
}

.content-info__title{
    font-size: clamp(3em,10vw,5em);

}
.button{
    font-size: 1.2em;
    padding: 10px 3em;
    border: none;
    border-radius: 50px;
    background-color: var(--light-color);
    color: var(--primary-color);
    font-family: 'Knewave', sans-serif;

}


.button:hover{
background-color: var(--primary-color);
color: var(--light-color);

}

/*  BLOG  */

.wrapper-blog{
    background-image: url(/noel_web/img/navidad/206753.jpeg);
    background-size: cover;
}

.blog-content{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    background: radial-gradient( #fff, rgb(4, 31, 90));

    color: var(--light-color);
    padding-bottom: 5em;
}
.blog-content-info{
    padding: 5em;

}

.blog-content-title{
    font-size: clamp(2em,5vw,3em);
}
.divider{
    width: calc(2em,5vw,3em);
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 1em;
}

.card-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,20rem));
    gap: 2em;

}
.card{
    width: 100%;
    height: 310px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.card__img{
    width: 100%;
    height: 248px;
    border-radius: 20px;
    background-image: url(/noel_web/img/navidad/story-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card__img-2{
  
    background-image: url(/noel_web/img/navidad/story-2.png);
}
.card__img-3{
  
    background-image: url(/noel_web/img/navidad/story-3.png);
}

.card__img-4{
  
    background-image: url(/noel_web/img/navidad/story-4.png);
}

.card__img-5{
  
    background-image: url(/noel_web/img/navidad/story-5.png);
}

.card__img-6{
  
    background-image: url(/noel_web/img/navidad/story-6.png);
}

.card__info{
    width: 100%;
    font-family: 'khula',sans-serif;
    text-align: center;
    margin-top: 1em;
}
.footer{
    background-color: var(--primary-color);
    font-family: 'khula',sans-serif;
    padding: .5em;
    color: var(--light-color);
}
.dark-button{
    background-color: var(--light-color);
    color: var(--primary-color);
    margin-top: 15px;
}

.content-info__title--blog{
    color: var(--light-color);
}
.content-info__title--subtitle{
    color: var(--light-color);

}
.content-info__title--subtitle{
font-family: 'khula',sans-serif;

}


/* contacto page */
.contacto{
    background-image: url(/noel_web/img/navidad/973179.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.content-info__contacto-info {
padding-top: 30px;
font-size: clamp(3em,10vw,5em);



}

.content-info__subtitle{
padding-top: 10px;
font-size: clamp(1em,5vw,1.2em);



}

form {
    width: 500px;
    margin: auto;
    background: rgba(28, 141, 178, 0.4);
    padding: 40px 30px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
min-height: 100px;
max-height: 200px;
max-width: 100%;
}
#boton{
    background: var(--light-color);
    color: var(--primary-color);
    font-family: 'Knewave', sans-serif;
    font-size: 1.2em;
    padding: 10px 3em;
    border-radius: 50px;

}
#boton:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}









@media screen and (max-width: 768px){
    .menu{
        background-color: var(--dark-color);
        flex-direction: column;
        justify-content: space-around;
        padding: 3em;
        height: 80vh;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        z-index: 1;
    }
    .navbar .fa-solid,
    .show-menu{
     display: block;
    }

    .menu__link{
        margin-top: 2em;
    }


}
  